<section>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="section-sub-title">{{title}}</h2>
        <hr>
      </div>
      <div class="panel-body">
        <div class="row" [formGroup]="customerEditForm">
            <div class="col-xs-8 col-md-8 mx-auto">
                <div class="form-group">
                    <label for="customerName">Account name</label>
                    <input type="text" 
                        class="form-control" 
                        formControlName="accountName" 
                        id="accountName" 
                        placeholder="Account Name" 
                        name="accountName">
                    <app-on-screen-message
                        appFormName="CustomerEdit"
                        appFieldName="accountName"></app-on-screen-message>
                </div>
                <div class="form-group">
                    <label for="region">Region</label>
                    <mat-select
                    #accountRegion
                    placeholder="Region" 
                    class="drop-down-input form-control"
                    formControlName="region">
                        <mat-option 
                            *ngFor="let region of regionList"
                            [value]="region">
                            {{region.regionName}}
                        </mat-option>
                    </mat-select>
                    <app-on-screen-message
                        appFormName="CustomerEdit"
                        appFieldName="region"></app-on-screen-message>
                </div>
                <div class="">
                    <button class="btn btn-success margin-10px"
                      [disabled]= "!(customerEditForm.valid)"
                      (click)="updateCustomer()"
                      *ngIf="isEditable">
                        <span class="material-icons">
                            update
                        </span>
                        update
                    </button>
                    <button class="btn btn-primary margin-10px"
                     (click)="editCustomer()"
                     *ngIf="!isEditable">
                        <span class="material-icons">
                            edit
                        </span>
                       Edit
                    </button>
                    <button class="btn btn-secondary margin-10px" 
                    (click)="clear()"
                    *ngIf="isEditable">
                        <span class="material-icons">
                            clear
                        </span>
                        Reset
                    </button>
                    <button class="btn btn-dark margin-10px" (click)="back()">
                        <span class="material-icons">
                            backspace
                        </span>
                        Back
                    </button>
                </div>
            </div>
        </div>
      </div>
      
    </div>
  </section>
  