<section class="search-section">
  <div class="panel panel-primary">
    <div class="w-100 p-5" style="background-color:#fff7f6;">
      <div class="panel-heading">
        <span><b>Employee Search</b></span>
        <button class="btn btn-outline-info margin-10px push-right" (click)="openDialog()">
          <span class="material-icons">
            search
          </span>
          Advance Search
        </button>
        <button class="btn btn-outline-info margin-10px push-right" (click)="goToAddEmployee()">
          <span class="material-icons">
            add
          </span>
          Add Employee
        </button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="mat-elevation-z8">
    <div class="panel panel-primary">
      <div class="w-100 p-3" style="background-color:lightgray;">
        <div class="panel-heading">
          <span>Employee List</span><br>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search...">
          </mat-form-field>
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Employee Name Column -->
            <ng-container matColumnDef="employeeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
              <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
            </ng-container>

            <!-- Designation Column -->
            <ng-container matColumnDef="designationName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
              <td mat-cell *matCellDef="let element"> {{element.designation.designationName}} </td>
            </ng-container>

            <!-- Department Column -->
            <ng-container matColumnDef="departmentName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
              <td mat-cell *matCellDef="let element"> {{element.department.departmentName}} </td>
            </ng-container>
            <!-- Reporting Manager Column -->
            <ng-container matColumnDef="reportingManager">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Reporting Manager </th>
              <td mat-cell *matCellDef="let element"> {{element.reportingManager}} </td>
            </ng-container>
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="goToEmployeeDetails(element.employeeSqId)" color="primary"
                  style="margin-left: 10px">
                  <span class="large  material-icons">
                    visibility
                  </span>
                </button>
                <button mat-icon-button (click)="deleteEmployee(element.employeeSqId, element.employeeName)"
                  color="warn" style="margin-left: 10px">
                  <span class="large material-icons">
                    delete
                  </span>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>