<section>
<div class="container col-lg-6">
    <h1 class="text-center">Login</h1>
    <div class="card">
      <div class="card-body">
        <form class="form-group" [formGroup]="loginForm">
          <div class="alert alert-warning" *ngIf='errorMessage && loginForm.valid'>{{errorMessage}}</div>
          <div class="form-group">
            <label for="userId">User Id :</label>
            <input type="text" 
                class="form-control" 
                id="userId"  
                placeholder="Enter User Name"
                name="userId"
                formControlName="userId" >
                <app-on-screen-message
                        appFormName="Login"
                        appFieldName="userId"></app-on-screen-message>
          </div>
          <div class="form-group">
            <label for="userPassword">Password:</label>
            <input type="password" 
                class="form-control" 
                id="userPassword" 
                placeholder="Enter password"
                name="userPassword"
                formControlName="userPassword" >
                <app-on-screen-message
                        appFormName="Login"
                        appFieldName="userPassword"></app-on-screen-message>
          </div>
          <button [disabled]= "!(loginForm.valid)" (click)=handleLogin() class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
  </section>