<!-- <app-loading-animation></app-loading-animation> -->
<section>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="section-sub-title">Add Account</h2>
        <hr>
      </div>
      <div class="panel-body">
        <div class="row" [formGroup]="customerAddForm">
            <div class="col-xs-8 col-md-8 mx-auto">
                <div class="form-group">
                    <label for="accountName">Account Name</label>
                    <input type="text" 
                        class="form-control" 
                        formControlName="accountName" 
                        id="accountName" 
                        placeholder="Account Name" 
                        name="accountName">
                    <app-on-screen-message
                        appFormName="CustomerAdd"
                        appFieldName="accountName"></app-on-screen-message>
                </div>
                <div class="form-group">
                    <label for="region">Region</label>
                    <mat-select 
                        placeholder="Region" 
                        class="drop-down-input form-control" 
                        formControlName ="region">
                        <mat-option 
                        *ngFor="let region of regionList" 
                        [value]="region">
                        {{region.regionName}}
                    </mat-option>
                    </mat-select>
                    <app-on-screen-message
                        appFormName="CustomerAdd"
                        appFieldName="region"></app-on-screen-message>
                </div>
                <div class="">
                    <button class="btn btn-success margin-10px" [disabled]= "!(customerAddForm.valid)" (click)="addCustomer()">
                        <span class="material-icons">
                            add
                        </span>
                        Add
                    </button>
                    <button class="btn btn-secondary margin-10px"  (click)="clear()">
                        <span class="material-icons">
                            clear
                        </span>
                        Reset
                    </button>
                    <button class="btn btn-dark margin-10px" (click)="back()">
                        <span class="material-icons">
                            backspace
                        </span>
                        Back
                    </button>
                </div>
            </div>
        </div>
      </div>
      
    </div>
  </section>
  