<h1 mat-dialog-title>Advance Employee Search</h1>
<div mat-dialog-content>
    <div class="row" [formGroup]="employeeSearchForm">
        <div class="col-xs-4 col-md-4">
          <mat-form-field>
            <mat-label for="employeeId">Employee Code</mat-label>
            <input matInput type="text" 
            id="employeeId" 
            placeholder="Employee Code" 
            name="employeeId"
            formControlName="employeeId">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label for="employeeName">Employee Name</mat-label>
            <input matInput type="text"  
            id="employeeName" 
            placeholder="Employee Name" 
            name="employeeName"
            formControlName="employeeName">
          </mat-form-field>
          <mat-form-field>
              <mat-label for="designation">Designation</mat-label>
              <mat-select placeholder="Designation" 
                          formControlName ="designation" 
                          multiple>
                <mat-option *ngFor="let designation of designationList" 
                            [value]="designation">
                {{designation.designationName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="department">Department</mat-label>
                <mat-select placeholder="Department" 
                formControlName ="department" 
                multiple>
                  <mat-option *ngFor="let department of departmentList" 
                  [value]="department">
                  {{department.departmentName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-xs-4 col-md-4">
            <mat-form-field>
                <mat-label for="region">Region</mat-label>
                <mat-select placeholder="Region" 
                formControlName ="region" multiple>
                  <mat-option *ngFor="let region of regionList" 
                  [value]="region">
                  {{region.regionName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label for="account">Account</mat-label>
                <mat-select placeholder="Account" 
                formControlName ="account" 
                multiple>
                  <mat-option *ngFor="let account of accountList" 
                  [value]="account">
                  {{account.accountName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label for="service">Service Line</mat-label>
                <mat-select placeholder="Service Line" 
                formControlName ="serviceLine" 
                multiple>
                  <mat-option *ngFor="let service of serviceList" 
                  [value]="service">
                  {{service.serviceLineName}}
                 </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label for="billableStatus">Billable Status</mat-label>
                <mat-select placeholder="Billable Status" 
                formControlName ="billableStatus" 
                multiple>
                  <mat-option *ngFor="let billable of billableList" 
                  [value]="billable">
                  {{billable.billableStatus}}
                 </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-xs-4 col-md-4">
            <mat-form-field>
                <mat-label for="project">Project</mat-label>
                <mat-select placeholder="Project" 
                formControlName ="projects" 
                multiple>
                  <mat-option *ngFor="let project of projectList" 
                  [value]="project">
                  {{project.projectName}}
                 </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label for="location">Location</mat-label>
                <mat-select placeholder="Location" 
                formControlName ="location" 
                multiple>
                  <mat-option *ngFor="let location of locationList" 
                  [value]="location">
                  {{location.locationName}}
                 </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label for="grade">Grade</mat-label>
                <mat-select placeholder="Grade" 
                formControlName ="grade" 
                multiple>
                  <mat-option *ngFor="let grade of gradeList" 
                  [value]="grade">
                  {{grade.gradeName}}
                </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label for="academics">Academics</mat-label>
                <mat-select placeholder="Academics" 
                formControlName ="academics" 
                multiple>
                  <mat-option *ngFor="let academics of academicsList" 
                  [value]="academics">
                  {{academics.academicsName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
      </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-danger margin-10px" (click)="onNoClick()">
      <span class="material-icons">
    close
    </span>Cancel</button>
  <button class="btn btn-search margin-10px"  (click)="onSearch()"  cdkFocusInitial>
        <span class="material-icons">
        search
        </span>
      Search
    </button>
</div>
