/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/iconfont/material-icons.css';
html {
  position: relative;
  min-height: 100%;
}

body {
/* Margin bottom by footer height */
margin-bottom: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 50px;
  border-top-color: #333333;
  background: #444444;
  color: #999999;
  text-align: center;
}
/* section {
  border: 0 0 1px 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
} */
footer{
  border-top: 10px solid #333333;
}
.container > .card{
  margin-bottom: 60px;
}
/*
server-side-angular-way.component.css
 */
.no-data-available {
  text-align: center;
}
table {
  width: 100%;
}

.mat-header-cell {
  color: #f8f9fa;
  background-color: #da6161;
}
/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}

.margin-10px {
  margin: 10px
}

.search-button {
  margin-top: 100px;
  margin-bottom: 100px;
}

.query-text-color {
  color: #1e9494;
  font-weight: bold;
}
.space-right{
  margin-right: 5px;
}
.push-right{
  float: right;
  text-align: right;
}
.btn-search {
  background: #424242 !important;
  border-radius: 5px !important;
  color: #fff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #1c1c1c !important;
}
.btn-search:link, .btn-search:visited {
  color: #fff !important;
}
.btn-search:active, .btn-search:hover {
  background: #1c1c1c !important;
  color: #fff !important;
}

.material-icons {
  font-size: 20px;
}
.btn {
  line-height: 1 !important;
  border-radius: 1.25rem !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.required {
  color: red;
}

.center{
  text-align: center;
}

.custom-control {
  max-width: 40% !important;
  display: inline !important;
}
.custom-matseclect {
  max-width: 40% !important;
  display: inline;
}
hr {
  margin-top: 0 !important;
}
section {
  padding: 12px;
  margin-bottom: 25px;
}
.search-section-border {
    border-width: 1px;
    border-style: solid !important;
    border-color: #1c1c1c !important;
}

.section-sub-title {
  font-size: 18px;
  color: #2d2d2d;
  font-weight: 600;
  
}
/** validation message - starts */
.required-text::before {
  content: "*";
  color: #da3941;
}

.error-text, .error-msg , .field-err-msg {
  background: #da3941;
  color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.error-msg {
  margin-top: 0;
}

.field-err-msg {
  margin-top: -0.20em;
}

.ng-dirty.ng-invalid.form-control:focus,
.ng-dirty.ng-invalid.form-control,
.ng-touched.ng-invalid.form-control {
  border-color: #da3941;
}

.non-editable-warning {
  display: inline-block;
  width: 70%;
  left: .7em;
  line-height: 1em;
  color: #e0e0e0;
}
.non-editable-warning > i {
  vertical-align: middle;
}
.mat-error {
  margin-top: -15px;
}

.loading {
  color: white;
  padding-top: 50px;
}
.fss-color{
  color: red;
  font-size: larger;
  font-stretch: expanded;
}
p {
  font-family: Lato;
  font-weight: bolder;
  font-style: normal;
}

.required-text::before {
  content: "*";
  color: red;
}


