
<!--<nav class="navbar bg-dark text-white">-->
  
 <button mat-button [matMenuTriggerFor]="belowMenu"  >Employee</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="onSearch()">Search</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="masters" >Masters</button>
<mat-menu #masters="matMenu">
  <button mat-menu-item (click)="onAccountSearch()">Accounts</button>
  <button mat-menu-item [matMenuTriggerFor]="userSubmenu">User</button>
  <button mat-menu-item  (click)="onProjectSearch()">Project</button>
</mat-menu>

<mat-menu #userSubmenu="matMenu">
  <button mat-menu-item>Add Users</button>
  <button mat-menu-item>Delete User</button>
  <button mat-menu-item>Reset Password</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="mmr" >MMR</button>
<mat-menu #mmr="matMenu" >
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
